<$mt:setvar name="page_title" value="<__trans phrase="Duplicate or Move">"$>

<mt:setvarblock name="js_include" append="1">
    <!--// this MUST loaded after mt.js // -->
    <script type="text/javascript" src="<$mt:var name="static_uri"$>js/edit.js?v=<$mt:var name="mt_version_id" escape="url"$>"></script>
</mt:setvarblock>

<mt:setvarblock name="page_content">

<form method="post" action="<$mt:var name="script_url"$>">
<input type="hidden" name="__mode" value="duplicate_mode_copy" >
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<mt:var name=magic_token encode_html=1>" />

<label for="id"><span><__trans phrase="Action will apply these items below"></span></label>
<div class="import-process">
<ul>
<TMPL_LOOP NAME=ITEMS>
<li><TMPL_VAR NAME=NAME ESCAPE=HTML><input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" /></li>
</TMPL_LOOP>
</ul>
</div>

<div class="system">
<label for="blog_id"><span><__trans phrase="Select the target blog"></span></label>
<div><select name="blog_id"><TMPL_LOOP NAME=BLOGS>
  <option value="<TMPL_VAR NAME=ID>"<TMPL_IF NAME=SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=NAME ESCAPE=HTML></option>
</TMPL_LOOP></select></div>
</div>

<div class="section" style="margin-top:20px;">
  <!--<__trans phrase="Actions">-->
  <div class="actions-bar actions-bar-bottom line">
    <button
        mt:mode="duplicate_mode_copy"
        type="submit"
        accesskey="s"
        title="<__trans phrase="Duplicate"> (s)"
        class="btn btn-primary save action"
        ><__trans phrase="Duplicate"></button>
    <button
        mt:mode="duplicate_mode_move"
        type="submit"
        accesskey="v"
        title="<__trans phrase="Move"> (v)"
        class="btn btn-primary move action"
        ><__trans phrase="Move"></button>
    <button 
        mt:mode="duplicate_mode_cancel"
        type="submit" 
        accesskey="x" 
        title="<__trans phrase="Cancel"> (x)"
        class="btn btn-default cancel action"
        ><__trans phrase="Cancel"></button>
    </div>
  </div>
</div>
</form>
</mt:setvarblock>

<mt:include name="layout/default.tmpl" id="include_default_layout">
<mt:var name="layout">
